.dashboard-titles {
  padding-left: 25px;
  padding-right: 25px;
}

.dash-title-city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
}

.loading {
  text-align: center;
  padding-top: 40%;
}
