.signup-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.signup-box {
  height: 120px;
  display: block;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.paper-component {
  margin-top: 3%;
  margin-bottom: 3%;
}
