.business-dash-container {
    background-color: whitesmoke;
}

.dash-content {
    margin-left: 4%;
}

.business-title {
    margin-top: 4%;
    margin-bottom: 5%;
}

.donation-request-wrapper {
    display: flex;
}
